{
  "plugins": [
    "transform-strict-mode",
    "transform-class-properties",
    "transform-function-bind"
  ],
  "presets": [
    "stage-1",
    ["es2015", { "modules": false }],
    "react"
  ]
}
