#dropdown
{
	margin-top:15px
}

#dropdown ul
{
	list-style:none;
	position:relative;
}

#dropdown ul li
{
	position:relative;
}

#dropdown ul li.current-menu-item
{
	background:#ddd
}

#dropdown ul li:hover
{
	background:#f6f6f6
}

#dropdown ul ul
{
	display:none;
	position:absolute;
	top:155%;
	left:0;
    padding-top: 0.1em;
}

#dropdown ul ul li
{
	float:none;
	width:200px
}

#dropdown ul ul a
{
	line-height:180%;
    padding-bottom: 0.2em;
}

#dropdown ul ul ul
{
	top:0;
	left:100%
}

#dropdown ul li:hover > ul
{
	display:block;
    background-color: #fff;
    border-color: aliceblue;
    border-style: solid;
    border-width: medium;
}
