{% extends "base.html" %}
{% set active_page = 'List of Works' -%}
{% from 'work.html' import summary %}
{% macro menu(tag) %}
<li>
    {% if tag.isLink %}
    <a {% if name == tag.name %}class="selected"{% endif %} href="{{tag.link}}">{{tag.name}}</a>
    {% else %}
    <a>{{tag.name}}</a>
    {% endif %}
    {% if tag.has_subtags %}
    <ul>
        {% for subtag in tag.subtags %}
        <a {% if name == subtag.name %}class="selected"{% endif %} href="{{subtag.link}}">{{subtag.name}}</a>
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro %}
{% block body %}

<style>
/*
article {
    border-style: dotted;
    border-width: 1px;
    border-color: grey;
}
*/
</style>

<nav style="font-size: 0.8em; margin-top: 0px;" id="dropdown">
    <ul>
        <li>
            <a {% if all %}class="selected"{% endif %}href="/works.html">All</a>
        </li>
        {% for tag in tags %}
        {% if not tag.isSubtag and tag.show %}
        {{menu(tag)}}
        {% endif %}
        {% endfor %}
        {{menu(by_instruments)}}
    </ul>
</nav>


{% for work in works %}
<section>
    {{summary(work)}}
</section>
{% endfor %}


{% endblock %}
