{% extends "base.html" %}
{% set active_page = 'List of Works' -%}
{% from 'work.html' import summary with context %}
{% from 'work.html' import summ2 with context %}
{% macro menu(tag) %}
<li>
    {% if tag.isLink %}
    <a style="font-size: 16" {% if name == tag.name %}class="selected"{% endif %} href="{{tag.link}}">{{tag.name}}</a>
    {% else %}
    <a style="font-size: 16">{{tag.name}}</a>
    {% endif %}
    {% if tag.has_subtags %}
    <ul>
        {% for subtag in tag.subtags %}
        <a {% if name == subtag.name %}class="selected"{% endif %} href="{{subtag.link}}">{{subtag.name}}</a>
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro %}
{% block body %}

<nav style="font-size: 0.8em; margin-top: 0px;" id="dropdown">
    <ul>
        <li>
            <a style="font-size: 16" {% if all %}class="selected"{% endif %} href="/works.html">All</a>
        </li>
        {{menu(by_instruments)}}
        {% for tag in tags %}
        {% if not tag.isSubtag and tag.show %}
        {{menu(tag)}}
        {% endif %}
        {% endfor %}
    </ul>
</nav>


{% for works in workslists %}
{% if works[1] %}
<div style="display: flex; margin-bottom: 3em;">
{{summ2(works[0])}}
{{summ2(works[1])}}
</div>
{% else %}
<div style="width: 50%">
{{summ2(works[0])}}
</div>
{% endif %}
{% endfor %}


{% endblock %}
