@import 'variables.scss';
@import 'dropdown.scss';

body {
  font-size: 17px;
}

blockquote {
  line-height: 150%;
}

main {
  max-width: 110rem;
  width: 90%;
}

footer {
  font-size: 11px;
}

img#index {
  max-height: 75vh;
  display: block;
  margin: auto;
}

div.work {
  margin-right: 2em; border-left: .2rem solid #1271db; padding-left: 1em;
  width: 50%;

  h3 {
    margin: 0;

    em {
      font-size: 0.8em;
    }
  }
  p {
    margin: 0;
  }
}

.works {
  padding-bottom: 1em;

  .one {
    width: 50%;
  }
  .two {
    display: flex;
    margin-bottom: 3em;
  }
}

section.bio {
  line-height: 177%;
  img {
    float: left;
    max-width: 40%;
    max-height: 30%;
    margin-bottom: 1em;
    margin-right: 2em;
  }
}

blockquote {
  margin-bottom: 2em;
}


nav {
  padding-bottom: 1em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: $md-pad;
    text-align: center;
    
    li {
      display: inline-block;
      padding-bottom: 0.8em;
  
      a {
        color: #aaa;
        font-weight: bolder;
      }

      a.active {
        border-color: $trans-light;
        color: #777;
      }
    }
  }

  a {
    font-weight: bolder;
    border-bottom: .2rem solid rgba(0, 0, 0, 0);
    color: $black;
    padding: $sm-pad $md-pad;
    text-decoration: none;
    transition: $transition;

    &:hover {
      border-color: $trans-light;
      text-decoration: none;
    }

    &:active {
      border-color: $trans-mid;
    }
  }
}
